.idea/BioInformatics Course.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
lecture 2/__pycache__/approximate_occurance.cpython-37.pyc
lecture 2/__pycache__/hamming_distance.cpython-37.pyc
